.logo {
    height: 50px;
    filter: invert(100%);
    margin-right: 20px;
}

.plus {
    height: 25px;
    // filter: invert(60%);
    margin-right: 20px;
}

.sign-out {
    height: 30px;
    filter: invert(100%);
    margin-left: 16px;
}