nav {
    @include flex($dir: row, $just: space-between, $align: center);
    height: 100%;
    padding: 0px;
}

.contain {
	background: transparent;
}

.menu {
	display: inline-block;
  cursor: pointer;
  padding: 20px;
}

.top,
.mid,
.bot {
	width: 60px;
	height: 5px;
	background: $white;
	margin: 10px;
	transition: .9s;
	border-radius: 2px;
}

.changeTop {
	transform: rotate(-405deg)  translate(-11px, 10px);
	width: 60px;
}

.changeMid {
	opacity: 0;
}

.changeBot {
	transform: rotate(405deg)  translate(-10px, -10px);
	width: 60px;
}

/* menu */

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: $overlay;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay__full {
    height: 100%;
  }

  .overlay-content {
    position: relative;
    background: $overlay-menu;
    padding: 20px 10px;
    top: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 4px lighten($black, 50%);
    & > a {
        background-color: $overlay-menu-items;
        margin: 8px;
        font-size: 1.25em;
        font-weight: 300;
        padding: 8px;
        text-decoration: none;
        color: darken($white, 5%);
        display: block;
        transition: 0.3s;
        border-radius: 4px;
        border: 1px solid transparent;
    }
    & a:hover {
      border: 1px solid darken($white, 30%);
    }
    & a:last-child {
        @include flex($align: center, $just: center);
    }
  }

  // .overlay a:hover, .overlay a:focus {
  //   color: #f1f1f1;
  // }
