.main_heading__mob {
    color: $font;
    letter-spacing: 1px;
    font-weight: 300;
    & span {
        text-transform: uppercase;
        font-weight: bold;
    }
}

.note-content h2 {
    font-weight: 400;
}

.create-note p {
    font-size: 1.25em
}