// Colors

$white: #FFF;
$black: #000;

$header-bg: linear-gradient(to right, #c0abc7 320px, #d8a3b2);
$btn: #bfabc7;
$note-btn: #d3a5b7;
$note-bg: #f0f0f0;
$overlay: rgba(172, 174, 176, .8);
$overlay-menu: #4a5054;
$overlay-menu-items: #575d61;

$font: #656b70;

//Fonts

$main-font: 'Roboto', sans-serif;

// Media Breakpoints

$break-m: 768px;
$break-l: 1024px;

$max-width: 1200px;

//dot colors

$dots: (
    'dot-1': #8ba5ff ,
    'dot-2': #a28bff ,
    'dot-3': #c58bff ,
    'dot-4': #e88bff ,
    'dot-5': #ff8bb5 ,
    'dot-6': #ff8b8b ,
    'dot-7': #ffa78b ,
    'dot-8': #ffbc8b ,
    'dot-9': #ffd18b ,
    'dot-10': #fff38b ,
    'dot-11': #b7ff8b,
    'dot-12': #8bffa5 ,
    'dot-13': #8bfff1 ,
    'dot-14': #8bc7ff ,
    'dot-15': $white ,
    'dot-16': #bcbcbc ,
    'dot-17': #868686 ,
    'dot-18': #585858 ,
);
