// Colors

$white: #FFF;
$black: #000;

$header-bg: linear-gradient(to right, #c0abc7 320px, #d8a3b2);
$btn: #bfabc7;
$note-btn: #d3a5b7;
$note-bg: #f0f0f0;
$overlay: rgba(172, 174, 176, .8);
$overlay-menu: #4a5054;
$overlay-menu-items: #575d61;

$font: #656b70;

//Fonts

$main-font: 'Roboto', sans-serif;

// Media Breakpoints

$break-m: 768px;
$break-l: 1024px;

$max-width: 1200px;
