* {
    box-sizing: border-box;
}

body {
    background: $white;
    font-size: 1em;
    font-family: $main-font;
    color: $font;
}

header {
    background: $header-bg;
    height: 80px;
}

main {
    padding: 10px 30px;
    max-width: 1200px;
    margin: auto;
}